div.settings-wrapper {
	width: 100%;
	float: left;
	text-align: center;
}
ul.border-list {
	list-style: none;
	padding: 0px;
	width: auto;
	display: table;
	margin: 0 auto;
}
ul.border-list li {
	float: left;
	width: 40px;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;	
	position: relative;
	
}
ul.border-list li.active:after {
	content: "\e013";
	color: #6fb698;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-family: 'Glyphicons Halflings';
}

div.image-wrapper {
	padding: 40px;
	margin-top: 30px;
	text-align: center;
	border: 1px dashed #e6e5e5;
}
div.image-wrapper p span.title {
	font-size: 20px;
}